      .axis path,
      .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
      }

      .axis text {
        font-family: sans-serif;
        font-size: 11px;
      }


      .axis_label {
        font-family: sans-serif;
        font-size: 12px;
      }

      .economist {
        fill: rgb(58,195,242);

      }
      .user {
        fill: rgb(237,38,133);

      }

      .deviating_response{
        background: rgb(255,255,0);
      }

      #left_column {
        color: #555;
        font-size: 28px;
        position: absolute;
        left: 60px;
        width: 535px;
        text-align: center;
      }


      #right_column {
        color: #555;
        font-size: 28px;
        position: fixed;
        left: 660px;
        width: 530px;
        text-align: center;
      }

      #matrix_container {
        color: #555;
        font-size: 28px;
        position: absolute;
        left: 90px;
        width: 630px;
        text-align: center;
      }





      #closest_economist {
        font-family:"Courier New", Courier, monospace;
        font-size: 20px;
        position:relative;
      }

      #highlight_button_container {
        position:relative;
      }

      a {
        text-decoration:none;
        color:rgb(58,195,242);
      }

      .question_link {
        text-decoration:none;
        color: #555;
      }

      .background {
        fill: #eee;
      }

      line {
        stroke: #fff;
      }

      .text {
        color: #555;
        font-size: 18px;
        text-align:justify;
      }

      .matname_text {
        color: #555;
        font-size: 18px;
        text-align:justify;
        cursor: pointer;
      }

      .matname_text.active {
        fill: rgb(58,195,242);
      }

      text {
        fill: #555;
        font-size: 18px;
        text-align:justify;
      }

