<!DOCTYPE html>
<html lang="en" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="application/xhtml+xml">

    <title>DealSpotter - Find rare deals on Craigslist... the easy way</title>

    <link href="{{ config["APP_URL"] }}/static/css/tipsy.css" rel="stylesheet" type="text/css" />
    <link href="{{ config["APP_URL"] }}/static/css/ui-lightness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
    <link href="{{ config["APP_URL"] }}/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{ config["APP_URL"] }}/static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="{{ config["APP_URL"] }}/static/css/styles.css" rel="stylesheet">

    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/jquery-1.8.1.min.js"> </script>
    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/d3.v3.min.js"></script>
    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/dealspotter.js"></script>
  </head>


  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="about">About</a></li>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a target='_blank' href="http://www.linkedin.com/profile/view?id=249972141">LinkedIn</a></li>
                <li><a target='_blank' href="https://twitter.com/Chris_Said">Twitter</a></li>
                <li><a target='_blank' href="https://github.com/csaid">Github</a></li>
                <li class="divider"></li>
                <li><a href="mailto:chris.said@gmail.com">chris.said@gmail.com</a></li>
            </ul>
          </li>        </ul>
        <h3 class="text-muted">DealSpotter</h3>
      </div>
      <iframe class="center" src="http://www.slideshare.net/slideshow/embed_code/26335100" width="616" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe>
    <div> <!--container-->
  </body>
</html>
