<!DOCTYPE html>
<html lang="en" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="application/xhtml+xml">

    <title>DealSpotter - Find rare deals on Craigslist... the easy way</title>

    <link href="{{ config["APP_URL"] }}/static/css/tipsy.css" rel="stylesheet" type="text/css" />
    <link href="{{ config["APP_URL"] }}/static/css/ui-lightness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
    <link href="{{ config["APP_URL"] }}/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{ config["APP_URL"] }}/static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="{{ config["APP_URL"] }}/static/css/styles.css" rel="stylesheet">

    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/jquery-1.8.1.min.js"> </script>
    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/d3.v3.min.js"></script>
    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/dealspotter.js"></script>
  </head>


  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a target = "_blank" href="http://filedrawer.wordpress.com/2013/10/12/my-insight-data-science-project/">About</a></li>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a target='_blank' href="http://www.linkedin.com/profile/view?id=249972141">LinkedIn</a></li>
                <li><a target='_blank' href="https://twitter.com/Chris_Said">Twitter</a></li>
                <li><a target='_blank' href="https://github.com/csaid">Github</a></li>
                <li class="divider"></li>
                <li><a href="mailto:chris.said@gmail.com">chris.said@gmail.com</a></li>
            </ul>
          </li>
        </ul>
        <h3 class="text-muted">DealSpotter</h3>
      </div>
      <div class="starter-template">
        <h1>DealSpotter</h1>
        <p class="lead">Find rare deals on Craigslist... the easy way.</p>

        <nav>

            <ul class="nav nav-pills">

              <li class="dropdown">
                <a class="dropdown-toggle" id="choose-model" data-toggle="dropdown" href="#"><span id="dropdown_title">Select a model</span><span class="caret"></span></a>
                 <ul id="select-car" class="dropdown-menu" role="menu" aria-labelledby="drop1">
                  <li role="presentation"><a class="model" role="menuitem" tabindex="-1" value="accord" href="javascript:void(0);">Honda Accord</a></li>
                   <li role="presentation"><a class="model" role="menuitem" tabindex="-1" value="civic" href="javascript:void(0);">Honda Civic</a></li>
                   <li role="presentation"><a class="model" role="menuitem" tabindex="-1" value="camry" href="javascript:void(0)">Toyota Camry</a></li>
                   <li role="presentation"><a class="model" role="menuitem" tabindex="-1" value="corolla" href="javascript:void(0)">Toyota Corolla</a></li>
                 </ul>
              </li>

              <li class="pull-right">
                <p>
                  <span for="amount">Price Range: </span>
                  <span type="text" id="amount" style="border: 0; color: #000000; font-weight: bold;" ></span>
                </p>
                <div style="width: 200px" id="slider-range"></div>
              </li>

            </ul>

            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary container-toggler" data-container-id="#list-container">
                <input type="radio" name="options" id="list"> List
              </label>
              <label class="btn btn-primary container-toggler" data-container-id="#graph-container">
                <input type="radio" name="options" id="graph"> Graph
              </label>
            </div>
          </nav> <!-- /navbar-example -->

        </div> <!-- /starter-template -->



        <div>
          <div id="list-container"  class="container-toggle">
            <table id="table" data-provides="rowlink" class="table">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Year</th>
                  <th>Miles</th>
                  <th>Price</th>
                  <th>Savings</th>
                </tr>
              </thead>
              <tbody id="table_body">
              </tbody>
            </table></div>
          <div id="graph-container" class="container-toggle"></div>
        </div>


    </div> <!-- /container -->





    <div class="modal fade" data-keyboard="true" tabindex="-1" id="AdModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>




    <div class="modal fade" id="ModelModal" data-backdrop="static">
      <div class="modal-dialog modal-small">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Welcome to DealSpotter</h4>
          </div>
          <div class="modal-body">
            <p align="center">Find good car deals in the Bay Area.</p><p align="center">Postings were last updated on 10/12/2013.</p>
            <div class="span12 centered-pills">
              <ul class="nav nav-pills">
                <li class="dropdown">
                  <a class="dropdown-toggle" id="choose-model" role="button" data-toggle="dropdown" href="#">Select a model<b class="caret"></b></a>
                  <ul id="select-car" class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li role="presentation"><a class="splash-model" role="menuitem" tabindex="-1" value="accord" href="javascript:void(0);">Honda Accord</a></li>
                    <li role="presentation"><a class="splash-model" role="menuitem" tabindex="-1" value="civic" href="javascript:void(0);">Honda Civic</a></li>
                    <li role="presentation"><a class="splash-model" role="menuitem" tabindex="-1" value="camry" href="javascript:void(0)">Toyota Camry</a></li>
                    <li role="presentation"><a class="splash-model" role="menuitem" tabindex="-1" value="corolla" href="javascript:void(0)">Toyota Corolla</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


  </body>
</html>
