<!DOCTYPE html>
<html lang="en" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DealSpotter - Find rare deals on Craigslist... the easy way</title>

    <link href="{{ config["APP_URL"] }}/static/css/tipsy.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap core CSS -->
    <link href="{{ config["APP_URL"] }}/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ config["APP_URL"] }}/static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="{{ config["APP_URL"] }}/static/css/ui-lightness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
    <link href="{{ config["APP_URL"] }}/static/css/starter-template-cps.css" rel="stylesheet">

    <!--<link href="{{ config["APP_URL"] }}/static/css/bootstrap-rowlink.min.css" rel="stylesheet">-->

    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/jquery-1.8.1.min.js"> </script>
    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/dropdown.js"></script>
    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/button.js"></script>
    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/collapse.js"></script>
    <!--<script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/bootstrap-rowlink.min.js"></script>-->


    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/d3.v3.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">DealSpotter</h3>
        <div class="starter-template">
          <h1>DealSpotter</h1>
          <p class="lead">Find rare deals on Craigslist... the easy way.</p>

          <nav>
              <ul class="nav nav-pills">
                <li class="dropdown">
                  <a class="dropdown-toggle" id="choose-model" role="button" data-toggle="dropdown" href="#">Select a model<b class="caret"></b></a>
                  <ul id="select-car" class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li role="presentation"><a class="model" role="menuitem" tabindex="-1" value="accord" id="accord" href="javascript:void(0);">Honda Accord</a></li>
                    <li role="presentation"><a class="model" role="menuitem" tabindex="-1" value="corolla" id="corolla" href="javascript:void(0)">Toyota Corolla</a></li>
                    <li role="presentation"><a class="model" role="menuitem" tabindex="-1" value="civic" id="civic" href="javascript:void(0);">Honda Civic</a></li>
                  </ul>
                </li>

                <li class="pull-right">

                  <p>
                    <span for="amount">Price Range: </span>
                    <span type="text" id="amount" style="border: 0; color: #000000; font-weight: bold;" ></span>
                  </p>

                  <div style="width: 200px" id="slider-range"></div>

                </li>



              </ul>



              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary container-toggler" data-container-id="#list-container">
                  <input type="radio" name="options" id="option1"> List
                </label>
                <label class="btn btn-primary container-toggler" data-container-id="#graph-container">
                  <input type="radio" name="options" id="option3"> Graph
                </label>
              </div>




          </nav> <!-- /navbar-example -->

        </div> <!-- /starter-template -->



        <div>
          <!-- May want to set style="display:none;" on these... -->
          <div id="list-container"  class="container-toggle">
            <table id="table" data-provides="rowlink" class="table">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Year</th>
                  <th>Miles</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody id="table_body">
              </tbody>
            </table></div>
          <div id="graph-container" class="container-toggle"></div>
        </div>


      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">




      //SVG Width and height
      var w = 600;
      var h = 380;
      var padding = 65; //dist between svg edge and axis, I think
      var carScale = .4
      //var data = '{{ data }}'
      var path
      var goodColor = '#5AC9E9'
      var badColor = '#dddddd'
      var url_root = 'http://sfbay.craigslist.org'
      var lo = 1000
      var hi = 20000

      function commaSeparateNumber(val){
        while (/(\d+)(\d{3})/.test(val.toString())){
          val = val.toString().replace(/(\d+)(\d{3})/, '$1'+','+'$2');
        }
        return val;
      }





      //takes a function name as an argument. The function takes data as an argument
      var data
      var unfiltered_data

      $.getJSON('{{ config["APP_URL"] }}/data', function(d) {
        unfiltered_data = d.items


        d3.xml("{{ config["APP_URL"] }}/static/img/car_new.svg", "image/svg+xml", function(xml) {

          var importedNode = document.importNode(xml.documentElement, true);

          var carWidth = 40
          var carHeight = 40


          //Create X scale
          var xScale = d3.scale.linear()
                      .domain([1995, 2014])
                      .range([padding, w - padding]);
          //Create Y scale
          var yScale = d3.scale.linear()
                      .domain([0, 250000])
                      .range([h - padding, padding]);

          //Define X axis
          var xAxis = d3.svg.axis()
                            .scale(xScale)
                            .orient("bottom")
                            .ticks(5)
                            .tickFormat(d3.format(".0f"));
          //Define Y axis
          var yAxis = d3.svg.axis()
                            .scale(yScale)
                            .orient("left")
                            .ticks(5)
                            .tickFormat(function(d) { return d/1000+"K"; });
          //Create SVG element
          var svg = d3.select("#graph-container")
                            .append("svg")
                            .attr("width", w)
                            .attr("height", h)
                            .attr("class", "center");
          //Create X axis
          svg.append("g")
             .attr("class", "axis")
             .attr("transform", "translate(0," + (h - padding) + ")")
             .call(xAxis);
          //Create Y axis
          svg.append("g")
             .attr("class", "axis")
             .attr("transform", "translate(" + padding + ",0)")
             .call(yAxis);
          //Create X label
          svg.append("text")
            .attr("class", "axis_label")
            .attr("text-anchor", "middle")
            .attr("x", (w)/2)
            .attr("y", h - padding + 40)
            .text("Year");
          //Create Y label
          svg.append("text")
            .attr("class", "axis_label")
            .attr("text-anchor", "middle")
            .attr("x", -h/2)
            .attr("y", 10)
            .attr("transform", "rotate(-90)")
            .text("Miles");



          function update_display()
          {

            data = []
            filt_count = 0
            for (var i = unfiltered_data.length-1; i >= 0; i--) {
              if (unfiltered_data[i].model == model && unfiltered_data[i].price >= lo && unfiltered_data[i].price <= hi){
                data[filt_count++] = unfiltered_data[i]
              }
            }


            //Create circles
            var cl = svg.selectAll(".car_link")
              .data(data, function(d) {
                return d.url;
              });


            //faster to do appends upon enter rather update. But may need to move them al
            //to update to preserve z-order
            cl.enter()
              .append("svg:a")
              .attr("class", "car_link")
              .attr("xlink:href", function(d) {
                    return url_root + d.url;
              })
              .attr("target", "_blank")
              .append("g")
              .attr("class", "car_subcontainer")
              .each(function (d, i) {
                var car = this.appendChild(importedNode.cloneNode(true));
                if (d.delta>0) {
                  fill = goodColor
                }
                else{
                  fill = badColor
                }

                $($(car).children()[3].children).attr("fill", fill)
              });


            cl.exit().remove();



            cl
              .attr("transform", function(d, i){
                return "translate(" + (xScale(d.year) - carWidth/2) + ","
                + (yScale(d.miles) - carHeight/2) + ")"
                + " scale(" + carScale + ")";
              })
              .transition().style("opacity")




            $('.car_subcontainer').tipsy({
              gravity: 'w',
              html: true,
              title: function() {
                return "$" + this.__data__.price/1000 + "K";}
            });


            //$( "#list-container").append("<svg src=" + importedNode + "></svg>")
            $( "#table_body" ).html("")
            var textToInsert = [];
            for (var i = data.length-1; i >= 0; i--) {
              var c = 0;
              textToInsert[c++] = "<tr url=" + url_root + data[i].url + ">";
              textToInsert[c++] = "<td>" + (data.length-i).toString() + "</td>"
              textToInsert[c++] = "<td>" + data[i].year + "</td>"
              textToInsert[c++] = "<td>" + commaSeparateNumber(data[i].miles) + "</td>"
              textToInsert[c++] = "<td>" + "$"+ commaSeparateNumber(data[i].price) + "</td>"
              textToInsert[c++] = "</tr>"
              console.log(textToInsert.join(''))
              $( "#table_body" ).append(textToInsert.join(''));
            }

            $('.table > tbody > tr').click(function() {
              console.log($(this))
              console.log($(this).attr("url"))
              window.open($(this).attr("url"),'_blank')
            })

            $('.table > tbody > tr').mouseenter(function() {
              $(this).removeClass("row-unhover").addClass("row-hover")
            })

            $('.table > tbody > tr').mouseleave(function() {
              $(this).removeClass("row-hover").addClass("row-unhover")
            })

          } //update

          $('.container-toggler').click(function(){
            $('.container-toggle').hide();
            $($(this).attr('data-container-id')).show();
          });

          $('.model').click(function(){
            model = $(this).attr('value')
            console.log(model)
            update_display()
          });


          $( "#slider-range" ).slider({
            range: true,
            min: 0,
            max: 25000,
            step: 500,
            values: [ lo, hi ],
            slide: function( event, ui ) {
              lo = ui.values[0]
              hi = ui.values[1]
              $( "#amount" ).html( "$" + lo + " - " + "$" + hi);
              update_display()
            }
          });

          $( "#amount" ).html( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - " +
            "$" + $( "#slider-range" ).slider( "values", 1 ) );

          $( ".ui-slider-handle.ui-state-focus" ).css("background-color", "#aaa")
          $( ".ui-slider-handle.ui-state-focus" ).css("color", "#aaa")
          $( ".ui-slider-handle.ui-state-focus" ).css("background", "#aaa")

        }); //d3.xml

      }); //getJson



    </script>
  </body>
</html>
