<!DOCTYPE html>
<html lang="en" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DealSpotter - Find rare deals on Craigslist... the easy way</title>

    <link href="{{ config["APP_URL"] }}/static/css/tipsy.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap core CSS -->
    <link href="{{ config["APP_URL"] }}/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ config["APP_URL"] }}/static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="{{ config["APP_URL"] }}/static/css/starter-template-cps.css" rel="stylesheet">

    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/jquery-1.8.1.min.js"> </script>
    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/dropdown.js"></script>

    <script type="text/javascript" src="{{ config["APP_URL"] }}/static/js/d3.v3.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">DealSpotter</h3>
        <div class="starter-template">
          <h1>DealSpotter</h1>
          <p class="lead">Find rare deals on Craigslist... the easy way.</p>

          <nav>
              <ul class="nav nav-pills">
                <li class="dropdown">
                  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Select a model<b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Honda Accord</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Toyota Corolla</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Honda Civic</a></li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Select a view<b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">List</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Map</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Graph</a></li>
                  </ul>
                </li>
              </ul>


          </nav> <!-- /navbar-example -->

        </div> <!-- /starter-template -->

        <div id="svg_container"></div>

      </div>


      <div class="footer">
        <p>&copy; Chris Said 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">

      //SVG Width and height
      var w = 600;
      var h = 380;
      var padding = 65; //dist between svg edge and axis, I think
      var carScale = .4
      var data = []
      data[0] = {x: 1999, y: 100000,  price: 25000,  url: "http://www.craigslist.com"}
      data[1] = {x: 2000, y: 120000,  price: 25000,  url: "http://www.craigslist.com"}
      data[2] = {x: 2001, y: 100000,  price: 7000,   url: "http://www.craigslist.com"}
      data[3] = {x: 2002, y: 110000,  price: 11000,  url: "http://www.craigslist.com"}
      data[4] = {x: 2003, y: 90000,   price: 6000,   url: "http://www.craigslist.com"}
      data[5] = {x: 2004, y: 100000,  price: 5000,   url: "http://www.craigslist.com"}
      data[6] = {x: 2005, y: 80000,   price: 25000,  url: "http://www.craigslist.com"}
      data[7] = {x: 2001, y: 70000,   price: 11000,  url: "http://www.craigslist.com"}
      data[8] = {x: 2004, y: 90000,   price: 5000,   url: "http://www.craigslist.com"}
      data[9] = {x: 2005, y: 120000,  price: 25000,  url: "http://www.craigslist.com"}

      d3.xml("{{ config["APP_URL"] }}/static/img/car.svg", "image/svg+xml", function(xml) {

        var importedNode = document.importNode(xml.documentElement, true);
        var carWidth  = importedNode.firstElementChild.width.animVal.value * carScale;
        var carHeight = importedNode.firstElementChild.height.animVal.value * carScale;


        //Create X scale
        var xScale = d3.scale.linear()
                    .domain([d3.min(data, function(d) { return d.x; }) - 1,
                             d3.max(data, function(d) { return d.x; }) + 1])
                    .range([padding, w - padding]);
        //Create Y scale
        var yScale = d3.scale.linear()
                    .domain([d3.min(data, function(d) { return d.y; }) - 10000,
                             d3.max(data, function(d) { return d.y; }) + 10000])
                    .range([h - padding, padding]);

        //Define X axis
        var xAxis = d3.svg.axis()
                          .scale(xScale)
                          .orient("bottom")
                          .ticks(5)
                          .tickFormat(d3.format(".0f"));
        //Define Y axis
        var yAxis = d3.svg.axis()
                          .scale(yScale)
                          .orient("left")
                          .ticks(5)
                          .tickFormat(function(d) { return d/1000+"K"; });
        //Create SVG element
        var svg = d3.select("#svg_container")
                          .append("svg")
                          .attr("width", w)
                          .attr("height", h)
                          .attr("class", "center");

        //Create circles
        svg.selectAll("g")
          .data(data)
          .enter()
          .append("svg:a")
          .attr("xlink:href", function(d) {
                return d.url;
          })
          .attr("target", "_blank")
          .append("g")
          .attr("class", "car")
          .attr("transform", function(d, i){
            return "translate(" + (xScale(d.x) - carWidth/2) + ","
            + (yScale(d.y) - carHeight/2) + ")"
            + " scale(" + carScale + ")";
          })
          .each(function(d, i) {
            var car = this.appendChild(importedNode.cloneNode(true));
            if (d.price < 10000) {
              fill = "#5AC9E9"
            }
            else{
              fill = "#dddddd"
            }
            d3.select(car).select("path").attr("fill", fill);
          });



        $('.car').tipsy({
          gravity: 'w',
          html: true,
          title: function() {
            return "$" + this.__data__.price/1000 + "K";}
        });
        //Create X axis
        svg.append("g")
           .attr("class", "axis")
           .attr("transform", "translate(0," + (h - padding) + ")")
           .call(xAxis);
        //Create Y axis
        svg.append("g")
           .attr("class", "axis")
           .attr("transform", "translate(" + padding + ",0)")
           .call(yAxis);
        //Create X label
        svg.append("text")
          .attr("class", "axis_label")
          .attr("text-anchor", "middle")
          .attr("x", (w)/2)
          .attr("y", h - padding + 40)
          .text("Year");
        //Create Y label
        svg.append("text")
          .attr("class", "axis_label")
          .attr("text-anchor", "middle")
          .attr("x", -h/2)
          .attr("y", 10)
          .attr("transform", "rotate(-90)")
          .text("Miles");
      });
    </script>
  </body>
</html>
